    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Core technology for manufacturing tools</h2>
              <h7 class="slogan">indegenious technology | keeping it simple.</h7>
              <br><br>
              <p>Build on the foundations of keeping it simple, stupid <a href="https://en.wikipedia.org/wiki/KISS_principle" target="_blank">KISS philosophy</a>, <a href="#page-top">Redundant lab</a> is designed to be a transparent organization who believes in open access knowledge base while respecting IP and licensing needs of indudtries.</p>
              <p>We design and develop industrial machine tools and offer many of our individual work as open access and collaboration designs as applicable licensing for commercial purposes.</p>
              <p>Depending on individual project licensing, either copy left, build on top of our product or <a href="#contact">contact</a> us for collaboration or complete design and development service.</p>
              <a href="#works" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
        </div>
    </section>
