<!-- Projects Section -->
<section id="projects" class="content-section text-center">
  <div class="projects-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Ongoing Projects</h2>
        <div class="case-study-gallery">
          {% for project in site.data.projects %}
          <div class="project-wrapper">
            <div class="case-study study{{ forloop.index }}" data-index="{{ forloop.index }}" onclick="toggleProjectDetails({{ forloop.index }})">
              <div class="case-study__overlay">
                <h2 class="case-study__title">{{ project.name }}</h2>
                {% if project.details %}
                  <span class="case-study__link">Click to Expand</span>
                {% else %}
                  <span class="case-study__link">Coming soon</span>
                {% endif %}
              </div>
            </div>

            <!-- Project Details (Hidden by Default) -->
            {% if project.details %}
            <div id="project-details-{{ forloop.index }}" class="project-details">
              <h3>{{ project.name }}</h3>
              <p>{{ project.details }}</p>
              <img src="{{ project.image }}" alt="{{ project.name }}">
              <button onclick="toggleProjectDetails({{ forloop.index }})" class="close-details">Close</button>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <a href="#contact" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
  </div>
</section>