<!-- Footer Section -->
<section id="footer-section">
    <footer>
        <div class="container text-center footer-note">
            <p>© {{ site.time | date: "%Y" }} Redundant Mechatronic Lab. All rights reserved.</p>
            <p>Built using the <a href="http://jeromelachaud.github.io/grayscale-theme/">Grayscale theme</a>.</p>
            <p>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
                <a href="https://github.com/Redundant-Mechatronic-Lab"><i class="fa fa-github"></i></a>
            </p>
        </div>
    </footer>
</section>